@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
}

.title {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}

#home {
  color: #ff5400;
  font-size: 18px;
  font-weight: 700;
}

.special {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
}

#bar {
  display: none;
}

.header-section {
  max-width: 1440px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
}

.nav-container {
  min-height: 40px;
  display: flex;
  align-items: center;
  width: 50%;
}

.nav-container img {
  width: 30px;
  object-fit: cover;
}

.items-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-container a {
  text-decoration: none;
  color: #424247;
  font-size: 18px;
  font-weight: 400;
}

.section-1 {
  background-image: url(../Images/Group1.png);
  background-repeat: no-repeat;
  max-width: 1170px;
  max-width: 82%;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 60px;
}

.section1-texts {
  padding-top: 106px;
  text-align: center;
}

.section1-texts > h2 {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section1-texts > p {
  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  padding-top: 24px;
}

.section1-texts > p {
  color: #fff;
  text-align: center;

  font-size: 13px;

  font-weight: 400;
  padding-top: 5px;
}

.section1-inputs {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 136px;
  border-radius: 8px;
}
.bg-color {
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  background-repeat: no-repeat;
}

.s1-input {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding-left: 16px;
}

.select-item {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding-left: 16px;
  margin-left: 20px;
}

.find-now {
  width: 174px;
  height: 52px;
  flex-shrink: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  margin-left: 20px;
}
.section1-bg {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
}

.section-2 {
  max-width: 1170px;
  max-width: 82%;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 60px;
}

.s2-container {
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.s3,
.s5 {
  margin-top: 100px;
  max-width: 1170px;
  max-width: 82%;
  margin: 0 auto;
}
.s3-text-container {
  text-align: center;
}
.s3-header {
  margin-top: 100px;
}
#s3-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 100px;
}
.row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.row img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  border-radius: 16px;
}
.row p {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.s3-img-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s4-services {
  display: flex;
  text-align: left;
  gap: 24px;
  margin-bottom: 24px;
}
.services-contain1 {
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-left: 32px;
  padding-top: 32px;
}
.services-title {
  color: #131318;
  padding-top: 32px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 800;
}

.services-detiles {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 32px;
}
.services-contain2 {
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-left: 32px;
  padding-top: 32px;
}
.services-contain3 {
  text-align: left;
  padding-top: 32px;
  padding-left: 32px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  max-width: 50%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.newsletter {
  max-width: 100%;
}
.travel-img {
  max-width: 100%;
}
input {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  padding-left: 20px;
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}
button {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: none;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding: 40px;
}
.s5 {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}
footer {
  max-width: 1440px;
  max-height: 502px;
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
}
.footer-header {padding-top: 32px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.footer-header{font-size: 60%;}

footer p {text-align: center;padding:30px}
.icons{text-align: center;}
.footer-icons{font-size: 30px;}
.icon2{padding-left: 20px;}
.icon3{padding-left: 20px;}
hr {max-width: 872px;
  max-width: 85%;
  height: 1px; margin: 0 auto; }
  .line{padding-top: 30px;padding-bottom: 30px;}
  .copyright{text-align: center;padding-bottom: 110px;}
  

