@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
   
    
}

body{
     font-family: 'Mulish', sans-serif;
    }

    #title{
        color: #131318;
        font-size: 36px;
        font-weight: 800;
        }
#home{color: #FF5400;
    font-size: 18px;
    font-weight: 700;}

    .special{
        color: #FF5400;
        font-size: 36px;
        font-weight: 800;}

    .header-section {
        max-width: 1440px;
        max-width: 85%;
        margin:0 auto; 
        display: flex;}

        .nav-container {
            min-height: 40px;
            display: flex;
            align-items: center;
            width: 50%;
          }
          .nav-container img {
            width: 30px;
            object-fit: cover;
          }
          .items-container {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;}
          
          .items-container a {
            text-decoration: none;
            color:#424247;
            font-size: 18px;
             font-weight: 400;}

/* body{max-width: 1440px;
max-width: 82%;
margin: 0 auto;}
footer{background: rgba(19, 19, 24, 0.05);
max-width: 100%;} */

/* footer{max-width: 1440px;
    max-height: 100%;
    text-align: center;
    padding-top: 100px;
}
.footer-icons{padding-left: 15px}
hr{width: 70%; margin-left: auto; margin-right: auto;}
footer > h1 {padding-top: 110px;}
footer > p {padding-top: 15px;}
.small{pa} */

